##### Jarque-Bera test

In [65]:
import numpy as np
import pandas as pd
FAT_BAR = "="*50

$\sum_{n=1}^{\ i}$

In [9]:
x = np.random.normal(0,1,100)

In [23]:
x = np.asarray(x) #turns into array
n = x.size #sample size
mu = x.mean() #sample mean
diffx = x - mu #difference between mu and each value

##### Sample skewness

$ 1/n\sum_{i=1}^{\ n} (x_i- x)^2 $

In [30]:
skewness = (1/n * np.sum(diffx**3)) / (1 / n * np.sum(diffx**2))**(3 / 2.)

##### T-Test

formula goes here

Example: 

Hypothesis: Do two types of music, type-I and type-II have different effects upon the ability of college students to perform a series of mental tasks requring concentration?

Strategy: Begin with a pool of homogenous students. Sort them into two groups, A and B. Have the students perform mental tasks while Group A listens to type-I music and Group B listens to type-II music. The difference should show up in the mean level of difference between the two groups.

Directional Hypothesis: type-I is better than type-II

In [140]:
def f(x):
    return x**3

In [152]:
y = lambda x: x**2

In [161]:
[(lambda x: x**2)(x) for x in range(4)]

[0, 1, 4, 9]

In [ ]:
def sum_square(col):
    return round(sum([(x - df[col].mean())**2 for x in df[col]]),2)

In [195]:
(lambda col: round(sum([(x - df[col].mean())**2 for x in df[col]]),2))('Group A')

119.73

In [182]:
z('Group A')

119.73

In [162]:
df

    Group A  Group B
0        26       18
1        21       23
2        22       21
3        26       20
4        19       20
5        22       29
6        26       20
7        25       16
8        24       20
9        21       26
10       23       21
11       23       25
12       18       17
13       29       18
14       22       19

In [211]:
random_data_1 = np.random.randint(10,25,15)
random_data_2 = np.random.randint(10,20,15)

In [212]:
data = {'Group A': random_data_1,
#        [26, 21, 22,
#         26, 19, 22,
#         26, 25, 24, 
#         21, 23, 23,
#         18, 29, 22],
        'Group B': random_data_2,
#         [18, 23, 21,
#          20, 20, 29,
#          20, 16, 20,
#          26, 21, 25,
#          17, 18, 19]
       }

df = pd.DataFrame.from_dict(data=data) 

sum_square = lambda col: round(sum([(x - df[col].mean())**2 for x in df[col]]),2)

display(df)

for i,col in enumerate(df.columns):
    print(FAT_BAR)
    print(f"{col} Count: {df[col].count()}")
    print(f"{col} Mean: {round(df[col].mean(),2)}")
    print(
        f"{col} Sum of Squares Deviate: {sum_square(col)}"
    )
    print(FAT_BAR) 
    if i == (len(df.columns)-1):
        print("M_a - M_b")
        print(
              round(
                [df[x].mean() for x in df.columns][0] - 
                [df[x].mean() for x in df.columns][1]
            ,2)
        )

    Group A  Group B
0        19       18
1        10       12
2        24       18
3        17       10
4        18       11
5        11       16
6        18       15
7        18       15
8        18       19
9        15       15
10       20       16
11       16       18
12       22       15
13       15       14
14       23       15

==================================================
Group A Count: 15
Group A Mean: 17.6
Group A Sum of Squares Deviate: 215.6
==================================================
==================================================
Group B Count: 15
Group B Mean: 15.13
Group B Sum of Squares Deviate: 95.73
==================================================
M_a - M_b
2.47

Next calculate variance and then find standard deviation followed by t ratio

In [214]:
#calculate variance of the source population
variance = round((sum_square('Group A') + sum_square('Group B')) /(df['Group A'].count()-1 + df['Group B'].count()-1),2)
print(f"variance {variance}")

#calculate standard deviation
std = round(np.sqrt(variance/df['Group A'].count() + variance/df['Group B'].count()),2)
print(f"standard deviation {std}")

#calculate t-ratio
t_ratio = round((df['Group A'].mean() - df['Group B'].mean())/std,2)
print(f"t-ratio {t_ratio}")

variance 11.12
standard deviation 1.22
t-ratio 2.02

##### One way ANOVA

This space for the formula

In [57]:
x = [27.0, 26.2, 28.8, 33.5, 28.8]

sum([i**2 for i in x])

4196.57