In [5]:
import itertools, operator

#subtract each row and multiply each result by eachother 2-5,3-4,8-7...-3*-1*1

data = [[2,5],
        [3,4],
        [8,7]]

[x for x in itertools.accumulate([i[0]-i[1] for i in data], operator.mul)][len([i[0]-i[1] for i in data])-1]

3

In [6]:
netflix=['Secret Obsession',
        'La Casa',
        'Otherhood',
        'Tall Girl',
        'Unbelievable']

dates = ['2019-07-18',
         '2019-07-19',
         '2019-07-21',
         '2019-09-13',
         '2019-09-13']

for x,z in list(zip(netflix,dates)):
    startdate = z
    sort_ = sort_df[(sort_df['term']==x) 
            & (sort_df['published']>=startdate)
            & (sort_df['published']<= pd.to_datetime(startdate) + pd.DateOffset(days=28))]

    print(x,round(sort_['momentum'].mean()))

NameError: name 'sort_df' is not defined

##### Combine 4 lists into a dataframe log transform one column

In [98]:
players = ['plyr_1','plyr_2','plyr_3']
touch_down = [8,9,10]
hand_size = [9,8,8.5]
weight = [200,195,205]

df = pd.DataFrame.from_dict({i: player for i,player in enumerate([[player,touch_down,hand_size,weight] 
                            for player,touch_down,hand_size,weight in zip(players,touch_down,hand_size,weight)])},
                            orient='index',
                            columns=['Name',
                                     'touchdowns',
                                     'hand_size',
                                     'weight']
                      )


df['weight'] = df['weight'].apply(lambda x: np.log10(x)); df

     Name  touchdowns  hand_size    weight
0  plyr_1           8        9.0  2.301030
1  plyr_2           9        8.0  2.290035
2  plyr_3          10        8.5  2.311754

##### Sort dataframe based on column value

In [68]:
import pandas as pd
import numpy as np

#create dataframe
social_data = pd.DataFrame.from_dict({i: np.random.randint(1,10,5) for i in ['mentions','reach','url']})
social_data['term'] = ['Andrew Yang',
                       'Elizabeth Warren',
                       'Bernie Sanders',
                       'Dr. Phil',
                       'Oprah']

social_data

   mentions  reach  url              term
0         5      9    1       Andrew Yang
1         7      2    1  Elizabeth Warren
2         8      7    1    Bernie Sanders
3         3      1    9          Dr. Phil
4         8      9    2             Oprah

In [69]:
#sort just row values based on list
entities = ['Andrew Yang',
            'Elizabeth Warren',
            'Bernie Sanders']

social_data.loc[social_data['term'].isin(entities)].reset_index(drop=True)

   mentions  reach  url              term
0         5      9    1       Andrew Yang
1         7      2    1  Elizabeth Warren
2         8      7    1    Bernie Sanders

##### Subtract column values from two equal sized dataframes excluding certain columns

In [64]:
import pandas as pd
import numpy as np

#create two dataframes with 5 columns and 5 rows filled with random numbers
data = {i: pd.DataFrame.from_dict(
            {i: np.random.randint(1,10,5) for i in [chr(65+c) for c in range(5)]}
    ) for i in ['df_1', 'df_2']}

#find the difference of each column value in the two dataframes excluding cols A & B
pd.DataFrame.from_dict({t: [f[1]-f[0] for f in list(zip(data['df_1'][t], data['df_2'][t]))] 
                                   for t in [c for c in data['df_1'].columns if c not in set(['A','B'])]})

   C  D  E
0  4  0 -1
1  7  6  6
2  2  2 -1
3  5  6  5
4  0 -2  2